
$primary-color: #0C132B;

.home{
    *{
        margin: 0;
        padding: 0;
        height: 100vh;
    }
         background: $primary-color;
   .form-container{
        background: #28304D;
        width: calc(40% - 10px);
        margin: 5px auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    .login-form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 20px;      
        }
   }

}