/* ----------------Login Form--------------------*/
.home-page main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: black;
}
.home-page main .left-side {
  width: calc(50% - 10px);
  height: 100vh;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(4vw - 5px) calc(3vw - 5px);
  border-radius: 0 50px;
}
.home-page main .left-side .login-form {
  background: rgba(29, 29, 29, 0.6);
}
.home-page main .left-side .input-container h5 {
  font-family: "aviano-copper-variable", sans-serif;
  color: white;
}
.home-page main .right-side {
  width: calc(50% - 10px);
  background: url("https://edrd11.creativeworkspace-bz.com/public/images/login-hero-image.png") black;
  height: 100vh;
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}