/* ----------------Login Form--------------------*/
.home-page main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.home-page main .left-side {
  width: calc(50% - 10px);
  background: black;
}
.home-page main .right-side {
  width: calc(50% - 10px);
  background: url("https://edrd11.creativeworkspace-bz.com/public/images/login-hero-image.png") black;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}